@model Escuela.Dominio.Course
@{
    ViewData["Title"] = "Indexdos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Indexdos</h1>

@using (Html.BeginForm("Indexdos", "Home", FormMethod.Post))
{
    <label>Title</label>
    <br />
    @Html.TextBoxFor(m => m.Title)
    <br />
    <br />
    <label>Credits</label>
    <br />
    @Html.TextBoxFor(m => m.Credits)
    <br />
    <br />
    <input type="submit">
    <br>
}

