@*@model Escuela.Dominio.Course
@{
    ViewData["Title"] = "Indexdos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Indexdos</h1>

@using (Html.BeginForm("Indexdos", "Home", FormMethod.Post))
    {
        <label>Title</label>
        <input type="text" name="Nombre" value="" />
        <br />
        <label>Credits</label>
        <input type="number" name="DUI" value="" />
        <br />
        <input type="submit">
        <br>
        <br />
    }*@

