
@{
    ViewData["Title"] = "MostrarAlumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class=" animate__animated animate__rubberBand">Student´s List</h1>





<table id="mitablastu" class="table table-dark table-hover">
    <thead>
        <tr>
            <th>LastName</th>
            <th>MidName</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>

    </thead>

</table>

@section scripts{

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {

            var tabla = $('#mitablastu').DataTable({
                "ajax": {
                    "url": '/Student/GetAll',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "lastName", "name": "lastName", "autoWidth": true },
                    { "data": "firstMidName", "name": "firstMidName", "autoWidth": true },
                    { "data": "enrollmentsDate", "name": "enrollmentsDate", "autoWidth": true }

                ]


            })
        })
    </script>

}

@*<a class="btn-outline-primary" asp-action="Update" asp-route-id="@Students.Id"><i class="fas fa-edit"></i></a>*@

<div style="position:fixed;right:25px; bottom:75px;" class="text-white">
    <a asp-controller="Student" asp-action="SaveStu" class="btn btn-success">
        <i class="fas fa-plus"></i>ADD
    </a>
</div>